---
import { getAllPosts } from "@/lib/db";
import { formatDate } from "@/lib/utils";

const projects = await getAllPosts("project");
---

<div>
  {
    projects.map((project) => (
      <a
        href={`/projects/${project.slug}`}
        class="flex flex-col space-y-1 mb-4"
        data-event="project_click"
        data-post-title={project.title}
        data-post-slug={project.slug}
      >
        <div class="w-full flex flex-col md:flex-row space-x-0 md:space-x-2">
          <p class="text-neutral-600 dark:text-neutral-400 w-[100px] tabular-nums">
            {formatDate(project.publishedAt)}
          </p>
          <p class="text-neutral-900 dark:text-neutral-100 tracking-tight">
            {project.title}
          </p>
        </div>
      </a>
    ))
  }
</div>
